.slider {
    height: 200px;
}

.vertical-text {
	transform: rotate(90deg);
	transform-origin: 5px;
}
.boredr-remove{
border-width: 0px;
}
.large-green{
  font-size: 32px;
   color: green
 }
.heading {
  color: #333333;
   font-family: 'Bitter', serif;
   font-size: 25px;
    font-weight: normal;
     line-height: 30px;
     margin: 0 0 20px;
    }

    .item .icon .icon-badge {
      position: absolute;
      right: 0px;
      font-size: 8px;
    }

    .icon{
      width : 40px;
    }


    .textDots{
    display:inline-block;
    width:160px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
    text-transform: capitalize;
}
